.beers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  gap: 24px;
}

.image {
  height: 200px;
}

.beer-display {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  text-align: center;
  gap: 15px;
}
